<% include ./partials/navbar %>
<% include ./partials/messages %>
<% include ./partials/footer %>

<style>
  
  .project-tab {
      padding: 10%;
      margin-top: -8%;
  }
  .project-tab #tabs{
      background: #007b5e;
      color: #eee;
  }
  .project-tab #tabs h6.section-title{
      color: #eee;
  }
  .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #0062cc;
      background-color: transparent;
      border-color: transparent transparent #f3f3f3;
      border-bottom: 3px solid !important;
      font-size: 16px;
      font-weight: bold;
  }
  .project-tab .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: #0062cc;
      font-size: 16px;
      font-weight: 600;
  }
  .project-tab .nav-link:hover {
      border: none;
  }
  .project-tab thead{
      background: #f3f3f3;
      color: #333;
  }
  .project-tab a{
      text-decoration: none;
      color: #333;
      font-weight: 600;
  }
  .accordion {
      max-height: 500px;
      overflow-y: auto;
  }

  section {
      padding: 60px 0;
  }

  #accordion-style-1 h1,
  #accordion-style-1 a {
      color: #007b5e;
  }

  #accordion-style-1 .btn-link {
      font-weight: 400;
      color: #007b5e;
      background-color: transparent;
      text-decoration: none !important;
      font-size: 16px;
      font-weight: bold;
      padding-left: 25px;
  }

  #accordion-style-1 .card-body {
      border-top: 2px solid #007b5e;
  }

  #accordion-style-1 .card-header .btn.collapsed .fa.main {
      display: none;
  }

  #accordion-style-1 .card-header .btn .fa.main {
      background: #007b5e;
      padding: 13px 11px;
      color: #ffffff;
      width: 35px;
      height: 41px;
      position: absolute;
      left: -1px;
      top: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
  }

  .rotate {
      -webkit-transform: rotate(90deg);
      /* Chrome, Safari, Opera */
      -moz-transform: rotate(90deg);
      /* Firefox */
      -ms-transform: rotate(90deg);
      /* IE 9 */
      transform: rotate(90deg);
      /* Standard syntax */
  }


</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid bg-gray" id="accordion-style-1">
      <p id="expenseIdpTag"> </p>
      <h3 style="text-align: center; margin-top: 20px;">Asset Requisition </h3>
  <div class="container">
      <div id="success" class="alert alert-success alert-dismissible fade show" role="alert">
 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <section>
            <div class="row mt-6 mb-3 align-items-center">
                      <div class="col-md-5">
                          <button class="btn btn-primary btn-md bg-gray"  id="createAssetRequisitionFormButton">Create New</button>
                        <i class="fa fa-refresh" aria-hidden="true" id="refresh"  style="font-size:34px; margin-left: 10px; margin-top: 30px; color: #555;"></i> 
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Search" id="searchField" style="margin-top: 5px;">
                      </div>
                      <div class="col-md-2 text-right">
                        <span class="pr-1">Rows Per Page:</span>
                      </div>
                      <div class="col-md-1">
                          <div class="d-flex justify-content-end">
                              <select class="custom-select" name="rowsPerPage" id="changeRows">
                                  <option value="5" selected>5</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                              </select>
                          </div>
                      </div>
              </div>
              <div class=" responsive" id="rootAssetRequisitionTable">
                  <div id="spinner">
                      <center> <img src="/spinner-gif-transparent-background-14.gif" />  </center>
                    </div>
                    
                  <!--  <table class="table" id="allExpenseRecordsTableId">
                      <thead>
                          <tr>
                              <th>Expense Name</th>
                              <th>Project </th>
                              <th>Approval Status</th>
                              <th>Amount Claimed</th>
                              <th>Petty Cash Amount</th>
                              <th>Conveyance Amount</th>
                              <th>Tour Bill Claim Amount</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        
                          
                      </tbody>
                    </table> -->
                </div>


                <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" >
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" ></script>

<link rel="stylesheet" href="/stylesheets/table-sortable.css">
<script src="/scripts/table-sortable.js" ></script>

<script>
      $(".collapse").on('show.bs.collapse', function () {
          $(this).parent().find(".fa-angle-double-right").addClass("rotate");
      }).on('hide.bs.collapse', function () {
          $(this).parent().find(".fa-angle-double-right").removeClass("rotate");
      });

      
      $(document).ready(function(){
        $('#success').hide();
        $('#spinner').hide();
        $('#editExpenseSpinner').hide();
        $('#expenseDetailsSpinner').hide();
     //   $('#loaderSpin').hide();


        let columns = {
          sequence: 'Sr No.',
          editButton : 'Action',
          name: 'Asset Requisition Name',
          projectName: 'Project Name',
          noIT: 'Number of IT Product',
          noNonIT: 'Number of Non IT Product',
           itAmount: 'IT Amount',
          nonITAmount: 'Non IT Amount' ,
          totalAmount: 'Total Amount', 
          approvalButton : 'Approval', 
          accountsApprovalButton : 'Accounts Approval',
         
        }

        var table = $('#rootAssetRequisitionTable').tableSortable({
          data :[],
          columns,
          searchField: '#searchField',
          sorting: true,
          rowsPerPage: 5,
          pagination:true,
          tableWillMount: () => {
              console.log('table will mount');
            //  $('#loaderSpin').show();
              let x = document.getElementsByClassName("gs-table-head");
              console.log('x : '+x);
              var elm = '<tr><td colspan="8"><center><div class="loaderSpin" ' +
                        'style=""></div></center></td></tr>'+
              $(elm).appendTo(x);
              
          },
          tableDidMount: () => {
              console.log('table did mount');
            //  $('#loader').hide();
             
          },
          tableWillUpdate: () => {
        //    $('#loaderSpin').hide();
            let x = document.getElementsByClassName("gs-table-head");
              console.log('x : '+x);
              var elm = '<tr><td colspan="8"><center><div class="loaderSpin" ' +
                'style=""></div></center></td></tr>'+
              $(elm).appendTo(x);
              console.log('table will update')
            //  table.refresh();
            // onLoadTask();
          },
          tableDidUpdate: () => {
            
            console.log('table did update');
            anchorClickFunctionalities();
            //onLoadTask();
          },
          tableWillUnmount: () => console.log('table will unmount'),
          tableDidUnmount: () => console.log('table did unmount'),
          onPaginationChange: function(nextPage, setPage) {
              setPage(nextPage);
          },
          
      });

      $('#changeRows').on('change', function() {
        table.updateRowsPerPage(parseInt($(this).val(), 10));
      })

      $('#refresh').click(function() {
          table.refresh(true);
          onLoadTask();
      })
        
      onLoadTask();
      function onLoadTask(){
          // alert('Hello On Load Task');
          $.ajax({
              url : '/procurement/assetDetails',
              type : 'get',
              dataType: 'json',
              beforeSend : function(){
                  $('#spinner').show();
              }
          })
          .done((allexpenserecords) => {
              console.log('allexpenserecords :  '+JSON.stringify(allexpenserecords));
              
              document.getElementById('success').innerHTML = allexpenserecords.successs_msg;
            //  $('#success').show();
              let expenseTableHtml = '';
              let expenseList = allexpenserecords.expenseList;
              let data =expenseList;
              
              
              table.setData(data, columns);

            })
          .fail((jqXHR, status, error) => {
              console.log('jqXHR  '+JSON.stringify(jqXHR));
              console.log('error '+error);
          })
        }

        
    });